.scrape-form {
    background-color: white;
    padding: 15px 55px !important;
    border-radius: 8px;
    margin: 25px;
}

.form-item {
    display: block;
}

.addedLinks {
    left:15px;
    width: 100vw;
    bottom:0;
    display: flex;
    width: 100%;
}